<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spotifystreamer" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.ArtistsActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.TracksActivity"
            android:label="@string/title_activity_artist"
            android:parentActivityName=".activities.ArtistsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ArtistsActivity" />
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/SettingsTheme"
            android:parentActivityName=".activities.ArtistsActivity"
            android:label="@string/action_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ArtistsActivity" />
        </activity>

        <provider
            android:name="com.example.spotifystreamer.model.QuerySuggestionProvider"
            android:authorities="com.example.spotifystreamer.model.QuerySuggestionProvider"/>

        <!-- Built in Settings Activity Template that comes with the SDK -->
        <!-- Includes a series of pref_ xml files in the res/xml dir and
        the strings_activity_settings.xml file in the res/values dir -->

        <!--
        <activity
            android:name=".utils.SettingsActivityTemplate"
            android:label="@string/title_activity_settings" >
        </activity>
        -->

    </application>

</manifest>
